<div style="width: 250px;" class="card align-items-center">
  <div class="pt-3 card-header justify-content-around text-center">
      <h4>nome</h4>
      <img src="" width="200px" class="img-fluid img-thumbnail mt-3 imagemDoutores imagem">

      <div class="card-body">
          <!--Especialidades Veterinário-->
          <h4>Especialidade</h4>
          <br>
          <h4>Convenios</h4>
          <br>
          Valor Consulta Veterinário
          <h5>Valor da Consulta</h5>
          <h5>23</h5>

      </div>
  </div>
</div>
