<div style="width: 250px;" class="card align-items-center">
  <div class="pt-3 card-header justify-content-around text-center">
      <h5>{{ nome }}</h5>
      <img style="object-fit: cover;"  [src]="foto ? foto : 'assets/images/FotoPerfilVazia.png'" width="200px" class="fixed-height img-fluid img-thumbnail mt-3 imagemDoutores imagem">

      <div class="card-body">
          <h4 *ngFor="let especialidade of especialidades">{{ especialidade.especialidade }}</h4>
          <!-- <br> -->
          <!-- <h4>Convenios</h4> -->
          <br>
          <h5>{{ valor | currency:'BRL':'symbol':'1.2-2' }}</h5>

      </div>
  </div>
</div>
