<div class="verde min-vh-100">
    <div class="container bg-light vh-100">
        <form id="formPet">
            <h1 class="d-flex justify-content-center pb-4 p-4">Registro de Vacinas</h1>

            <div class="container mb-4">
                <div class="form-control">
                    <input class="form-control" id="id_pet" type="text" placeholder="Informe o ID do Pet">
                </div>
            </div>

            <div id="vacinas" class="container">
                <!-- Vacinas serão preenchidas dinamicamente aqui -->
            </div>

            <div class="container d-flex align-items-center justify-content-center mt-4">
                <div class="row d-flex justify-content-center">
                    <div class="col col-4">
                        <button class="botoes" id="edit" (click)="editVacina(false)">
                            <img src="assets/css/img/editar.png" width="100%">
                        </button>
                    </div>
                    <div class="col col-4">
                        <button class="botoes" id="save" (click)="saveVacina()">
                            <img src="assets/css/img/salvar1.png" width="100%">
                        </button>
                    </div>
                    <div class="col col-4">
                        <button class="botoes" id="return">
                            <img src="assets/css/img/voltar.png" width="100%">
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
