<!-- cadastro-veterinario.component.html -->
<div class="container">
    <div class="form-image">
        <h1 class="bv">Bem Vindo ao DocVet</h1>
        <img src="/style/img/cachorroMedico.jpg" alt="cachorroMedico">
    </div>
    <div class="form">
        <form #form="ngForm" (ngSubmit)="submitForm()">
            <div class="form-header">
                <div class="circulo">
                    <img src="/style/img/docvet.png" alt="" width="100">
                </div>

                <div class="title">
                    <h1>Cadastre-se</h1>
                </div>
            </div>

            <div class="input-group">
                <div class="input-box">
                    <input id="nome" type="text" name="nome" placeholder="Digite seu nome completo" class="inputs required" [(ngModel)]="formData.nome" required>
                    <span class="span-required"><b>Preencha este campo</b> </span>
                </div>

                <div class="input-box">
                    <input id="especialidade" type="text" name="especialidade" placeholder="Digite a Especialidade" class="inputs required" [(ngModel)]="formData.especialidade" required>
                    <span class="span-required"><b>Preencha este campo</b> </span>
                </div>

                <div class="input-box">
                    <input id="cidade" type="text" name="cidade" placeholder="Digite Sua cidade de atendimento" class="inputs required" [(ngModel)]="formData.cidade" required>
                    <span class="span-required"><b>Preencha este campo</b> </span>
                </div>

                <div class="input-box">
                    <select id="estado" name="estado" class="form-select" style="background-color:#186053; margin-left: 0.5rem;" [(ngModel)]="formData.estado" required>
                        <option hidden></option>
                        <!-- Opções de estados -->
                    </select>
                </div>

                <div class="input-box">
                    <!-- Checkboxes para tipos de animais -->
                </div>

                <div class="input-box">
                    <!-- Checkboxes para portes -->
                </div>

                <div class="input-box">
                    <!-- Checkboxes para convênios -->
                </div>

                <div class="input-box">
                    <input id="valor" type="number" name="valor" placeholder="Digite o valor da sua consulta particular" class="inputs required" [(ngModel)]="formData.valor" required>
                    <span class="span-required"><b>Preencha este campo</b> </span>
                </div>

                <div class="input-box">
                    <input id="foto" type="text" placeholder="Informe um link para sua foto" class="inputs required" [(ngModel)]="formData.foto" required>
                    <span class="span-required"><b>Preencha este campo</b> </span>
                </div>
            </div>

            <div class="cadastre-botton">
                <button type="submit">Cadastrar-se</button>
            </div>
        </form>
    </div>
</div>
