<div class="body">
    <div class="container">
        <div class="form-image">
            <h1 class="bv">Bem Vindo ao DocVet</h1>
            <img src="/assets/images/cachorroMedico.jpg" alt="cachorroMedico">
        </div>
        <div class="form">
            <form id="form" [formGroup]="formulario" (ngSubmit)="submitForm()" action="http://localhost:8080/api/v1/veterinarios/">
                <div class="form-header">
                    <div class="circulo">
                        <img src="/assets/images/docvet.png" alt="" width="100">
                    </div>
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <input id="nome" type="text" formControlName="nome" placeholder="Digite seu nome completo" class="inputs">
                    </div>

                    <div class="input-box">
                        <input id="email" type="email" formControlName="email" placeholder="Digite seu Email" class="inputs">
                    </div>

                    <div class="input-box">
                        <input id="crmv" type="text" formControlName="crmv" placeholder="Digite seu crmv" class="inputs">
                    </div>
                    
                    <div class="input-box">
                        <input id="cpf" type="text" formControlName="cpf" placeholder="Digite seu CPF" class="inputs required" >
                    </div>

                    <div class="input-box">
                        <input id="telefone" type="tel" formControlName="telefone" placeholder="Digite Seu telefone" class="inputs required" >
                    </div>

                    <div class="input-box">
                        <input id="especialidade" type="text" formControlName="especialidades" placeholder="Digite a Especialidade" class="inputs">
                    </div>

                    <div class="input-box">
                        <input id="cidade" type="text" formControlName="cidade" placeholder="Digite Sua cidade de atendimento" class="inputs">
                    </div>

                    <div class="input-boxx">
                        <b>Selecione o seu estado:</b><br>
                        <select id="estado" formControlName="estado" class="form-select" style="background-color:#186053; margin-left: 0.5rem;">
                            <option hidden></option>
                            <option value="AC">AC</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="PA">PA</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="TO">TO</option>
                            <option value="AL">AL</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="MA">MA</option>
                            <option value="PB">PB</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RN">RN</option>
                            <option value="SE">SE</option>
                            <option value="ES">ES</option>
                            <option value="MG">MG</option>
                            <option value="RJ">RJ</option>
                            <option value="SP">SP</option>
                            <option value="PR">PR</option>
                            <option value="RS">RS</option>
                            <option value="SC">SC</option>
                            <option value="DF">DF</option>
                            <option value="GO">GO</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                        </select>
                    </div>

                    <div class="input-boxx">
                        <b>Tipos de animais:</b><br>
                        <label><input type="checkbox" id="tipo_cachorro" formControlName="tipo_animal" value="Cachorro" class="inputs"></label> Cachorro
                        <label><input type="checkbox" id="tipo_gato" formControlName="tipo_animal" value="Gato" class="inputs"></label> Gato
                        <label><input type="checkbox" id="tipo_passaro" formControlName="tipo_animal" value="Passaro" class="inputs"></label> Passaro
                        <label><input type="checkbox" id="tipo_peixe" formControlName="tipo_animal" value="Peixe" class="inputs"></label> Peixe
                    </div><br>

                    <div class="input-boxx">
                        <b>Porte:</b><br>
                        <label><input type="checkbox" id="porte_pequeno" formControlName="porte" value="Pequeno" class="inputs"></label> Pequeno
                        <label><input type="checkbox" id="porte_medio" formControlName="porte" value="Médio" class="inputs"></label> Médio
                        <label><input type="checkbox" id="porte_grande" formControlName="porte" value="Grande" class="inputs"></label> Grande
                    </div><br>

                    <div class="input-boxx">
                        <b>Convênio:</b><br>
                        <label><input type="checkbox" id="convenio_plamev" formControlName="convenio" value="Plamev" class="inputs"></label> Plamev
                        <label><input type="checkbox" id="convenio_petlove" formControlName="convenio" value="PetLove" class="inputs"></label> PetLove
                        <label><input type="checkbox" id="convenio_pethealth" formControlName="convenio" value="PetHealth" class="inputs"></label> PetHealth
                        <label><input type="checkbox" id="convenio_particular" formControlName="convenio" value="Particular" class="inputs"></label> Particular
                    </div><br>

                    <div class="input-box">
                        <input id="valor" type="number" formControlName="valor" placeholder="Digite o valor da sua consulta particular" class="inputs">
                    </div>

                    <div class="input-box">
                        <input id="foto" type="text" formControlName="foto" placeholder="Informe um link para sua foto" class="inputs">
                    </div>

                    <div class="input-box">
                        <input id="senha" type="password" formControlName="senha" placeholder="Digite sua senha" class="inputs">
                    </div>
    
                    <div class="input-box">
                        <input id="confsenha" type="password" formControlName="confsenha" placeholder="Digite sua senha novamente" class="inputs">
                    </div>
                </div>
                
                <div class="cadastre-botton">
                    <button type="submit">Cadastrar-se</button>
                </div>
            </form>
        </div>
    </div>
</div>
