<body>
   <div class="container">
        <div class="form-image">
            <h1 class="bv">Bem Vindo ao DocVet</h1>
            <img src="/assets/images/cachorroMedico.jpg" alt="cachorroMedico">
        </div>
        <div class="form">
            <form id="form">
                <div class="form-header">
                    <div class="circulo">
                        <img src="/assets/images/docvet.png" alt="" width="100">
                    </div>

                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">

                        <input id="nome" type="text" name="nome" placeholder="Digite seu nome completo" class="inputs required" oninput="nomeValidate()" required>
                        <span class="span-required"><b>Preencha este campo</b> </span>
                    </div>

                    <div class="input-box">

                        <input id="especialidade" type="text" name="especialidade" placeholder="Digite a Especialidade" class="inputs required" oninput="especialidadeValidate()" required>
                        <span class="span-required"><b>Preencha este campo</b> </span>
                    </div>

                    <div class="input-box">

                        <input id="cidade" type="text" name="cidade" placeholder="Digite Sua cidade de atendimento" class="inputs required" oninput="enderecoValidate()" required>
                        <span class="span-required"><b>Preencha este campo</b> </span>
                    </div>

                    <div class="input-boxx">

                        <div class="input-boxx">
                            <b>Selecione o seu estado:</b><br>
                            <select id="estado" name="estado" class="form-select" style="background-color:#186053; margin-left: 0.5rem;">
                                <option hidden></option>
                                <option value="AC">AC</option>
                                <option value="AP">AP</option>
                                <option value="AM">AM</option>
                                <option value="PA">PA</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="TO">TO</option>
                                <option value="AL">AL</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="MA">MA</option>
                                <option value="PB">PB</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="RN">RN</option>
                                <option value="SE">SE</option>
                                <option value="ES">ES</option>
                                <option value="MG">MG</option>
                                <option value="RJ">RJ</option>
                                <option value="SP">SP</option>
                                <option value="PR">PR</option>
                                <option value="RS">RS</option>
                                <option value="SC">SC</option>
                                <option value="DF">DF</option>
                                <option value="GO">GO</option>
                                <option value="MT">MT</option>
                                <option value="MS">MS</option>
                            </select>
                        </div>
                        <div class="input-boxx">
                            <b>Tipos de animais:</b><br>
                            <label><input type="checkbox" id="tipo_cachorro" name="tipo_animal" value="Cachorro" class="inputs required"></label> Cachorro
                            <label><input type="checkbox" id="tipo_gato" name="tipo_animal" value="Gato" class="inputs required"></label> Gato
                            <label><input type="checkbox" id="tipo_passaro" name="tipo_animal" value="Passaro" class="inputs required"></label> Passaro
                            <label><input type="checkbox" id="tipo_peixe" name="tipo_animal" value="Peixe" class="inputs required"></label> Peixe
                            <span class="span-required"><b>Selecione pelo menos uma opção</b> </span>
                        </div><br>
                    </div>

                    <div class="input-boxx">
                        <b>Porte:</b><br>
                        <label> <input type="checkbox" id="porte_pequeno" name="porte" value="Pequeno" class="inputs required"></label> Pequeno
                        <label><input type="checkbox" id="porte_medio" name="porte" value="Médio" class="inputs required"></label> Médio
                        <label> <input type="checkbox" id="porte_grande" name="porte" value="Grande" class="inputs required"></label> Grande<br>
                        <span class="span-required"><b>Selecione pelo menos uma opção</b> </span>
                    </div><br>

                    <div class="input-boxx">
                        <b>Convênio:</b><br>
                        <label><input type="checkbox" id="convenio_plamev" name="convenio" value="convenio" class="inputs required"></label> Plamev
                        <label> <input type="checkbox" id="convenio_petlove" name="convenio" value="PetLove" class="inputs required"></label> PetLove
                        <label> <input type="checkbox" id="convenio-pethealth" name="convenio" value="PetHealth" class="inputs required"></label> PetHealth
                        <label> <input type="checkbox" id="convenio_particular" name="convenio" value="Particular" class="inputs required"></label> Particular
                        <span class="span-required"><b>Selecione pelo menos uma opção</b> </span>
                    </div><br>

                    <div class="input-box">
                        <input id="valor" type="number" name="valor" placeholder="Digite o valor da sua consulta particular" class="inputs required" required>
                        <span class="span-required"><b>Preencha este campo</b> </span>
                    </div>
                    

                    <div class="input-box">
                        <input id="foto" type="text" placeholder="Informe um link para sua foto" class="inputs required" required>
                        <span class="span-required"><b>Preencha este campo</b> </span>
                    </div>

                </div>
                <div class="cadastre-botton">
                    <button type="submit">Cadastrar-se</button>
                </div>

            </form>
        </div>
    </div>
</body>   
    <!-- <script src="../js/Validacoes/cadastro2.js"></script>
    <script>
        document.getElementById("form").addEventListener("submit", function(event) {
            event.preventDefault(); // Evita o comportamento padrão do envio do formulário

            // Recupere os valores dos campos do formulário
            var nome = document.getElementById("nome").value;
            var especialidade = document.getElementById("especialidade").value;
            var cidade = document.getElementById("cidade").value;
            var estado = document.getElementById("estado").value;
            var valor = parseFloat(document.getElementById("valor").value);
            var foto = document.getElementById("foto").value;
            var tipo_animal = [];
            var porte = [];
            var convenio = [];


        // Verifique quais checkboxes foram selecionados para tipos de animais
        var tipoCachorro = document.getElementById("tipo_cachorro").checked;
        var tipoGato = document.getElementById("tipo_gato").checked;
        var tipoPassaro = document.getElementById("tipo_passaro").checked;
        var tipoPeixe = document.getElementById("tipo_peixe").checked;

        if (tipoCachorro) {
            tipo_animal.push("Cachorro");
        }

        if (tipoGato) {
            tipo_animal.push("Gato");
        }

        if (tipoPassaro) {
            tipo_animal.push("Pássaro");
        }

        if (tipoPeixe) {
            tipo_animal.push("Peixe");
        }

        let tipos = tipo_animal.join('/');

        // Verifique quais checkboxes foram selecionados para portes
        var portePequeno = document.getElementById("porte_pequeno").checked;
        var porteMedio = document.getElementById("porte_medio").checked;
        var porteGrande = document.getElementById("porte_grande").checked;

        if (portePequeno) {
            porte.push("Pequeno");
        }

        if (porteMedio) {
            porte.push("Médio");
        }

        if (porteGrande) {
            porte.push("Grande");
        }

        let portes = porte.join('/');

        // Verifique quais checkboxes foram selecionados para convênios
        var convenioPlamev = document.getElementById("convenio_plamev").checked;
        var convenioPetLove = document.getElementById("convenio_petlove").checked;
        var convenioPetHealth = document.getElementById("convenio-pethealth").checked;
        var convenioParticular = document.getElementById("convenio_particular").checked;

        if (convenioPlamev) {
            convenio.push("Plamev");
        }

        if (convenioPetLove) {
            convenio.push("PetLove");
        }

        if (convenioPetHealth) {
            convenio.push("PetHealth");
        }

        if (convenioParticular) {
            convenio.push("Particular");
        }

        let convenios = convenio.join('/');

        // console.log(nome);
        // console.log(cidade);
        // console.log(estado);
        // console.log(especialidade);
        // console.log(valor);
        // console.log(foto);
        // console.log(tipos);
        // console.log(portes);
        // console.log(convenios);

            // Construa um objeto com os dados do formulário
            var formData = {
                nome: nome,
                estadoatendimento: estado,
                cidadeatendimento: cidade,
                especialidade: especialidade,
                tipo_animal: tipos,
                porte: portes,
                foto: foto,
                valor: valor,
                convenio: convenios,
            };



            // Faça a solicitação para a sua API usando Fetch
            fetch("http://localhost:3000/veterinario", {
                method: "POST", // Use o método HTTP adequado (POST)
                headers: {
                    "Content-Type": "application/json" // Defina o tipo de conteúdo como JSON
                },
                body: JSON.stringify(formData) // Converta os dados do formulário em formato JSON
            })
            .then(function(response) {
                // Verifique o status da resposta da API
                if (response.ok) {
                    // O cadastro foi realizado com sucesso
                    alert("Cadastro realizado com sucesso!");
                } else {
                    // Ocorreu um erro durante o cadastro
                    alert("Ocorreu um erro durante o cadastro. Tente novamente mais tarde.");
                }
            })
            .catch(function(error) {
                // Ocorreu um erro de conexão com a API
                alert("Ocorreu um erro de conexão com a API. Verifique sua conexão de internet e tente novamente.");
            });
        });

// este esta funcionando com o front end

    </script> -->

